<!DOCTYPE html>

<html>
<head>
<title>Test</title>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"
	type="text/javascript"></script>
<script>
	$(document).ready(function() {
		console.log("ready");

		$.ajax({
			type : "POST",
			url : "http://localhost:9000/testCORS",
			data : {
				"key" : "value",
				"key2" : "test"
			},
			success : function(re) {
				console.log("succ: " + re);
			},
			error : function(re) {
				console.log("err: " + re);

			}
		});
	});
</script>
</head>
<body>ysvy
</body>
</html>